<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.microsoft.tourgide">

    <application
        android:allowBackup="true"
        android:appComponentFactory="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TourGide"
        tools:replace="android:appComponentFactory"
        tools:targetApi="p">
        <activity android:name=".telangana.medchal.places.place.Balajihotel"></activity>
        <activity android:name=".telangana.medchal.places.place.Nikithafamilydhaba" />
        <activity android:name=".telangana.medchal.places.place.Oyosharaninn" />
        <activity android:name=".telangana.medchal.places.place.Svhotelandlodge" />
        <activity android:name=".telangana.medchal.places.ShamirHotels" />
        <activity android:name=".telangana.medchal.places.keesaraHotels" />
        <activity android:name=".telangana.medchal.Kesaraguttatemple" />
        <activity android:name=".telangana.medchal.Shamirpetlake" />
        <activity android:name=".telangana.nagarkurnool.places.place.Jaikarthikrajputhotel" />
        <activity android:name=".telangana.nagarkurnool.places.place.Hotelchandra" />
        <activity android:name=".telangana.nagarkurnool.places.place.Gayatrihotel" />
        <activity android:name=".telangana.nagarkurnool.places.place.Goreybhaihotel" />
        <activity android:name=".telangana.nagarkurnool.places.SrilaliHotels" />
        <activity android:name=".telangana.nagarkurnool.places.MallelHotels" />
        <activity android:name=".telangana.nagarkurnool.Mallelatheeramwaterfall" />
        <activity android:name=".telangana.nagarkurnool.Srilalithasomeswaratemple" />
        <activity android:name=".telangana.nalgonda.places.place.Starhotelkrishnaveni" />
        <activity android:name=".telangana.nalgonda.places.place.Tstdcresortvijayvihar" />
        <activity android:name=".telangana.nalgonda.places.place.Hotelharitha" />
        <activity android:name=".telangana.nalgonda.places.place.Stayinn" />
        <activity android:name=".telangana.nalgonda.places.pillalHotels" />
        <activity android:name=".telangana.nalgonda.places.sagarHotels" />
        <activity android:name=".telangana.nalgonda.Nagarjunasagardam" />
        <activity android:name=".telangana.nalgonda.Pillalamarishivatemple" />
        <activity android:name=".telangana.nirmal.places.place.Haritharesortkaddam" />
        <activity android:name=".telangana.nirmal.places.place.Saisrihotel" />
        <activity android:name=".telangana.nirmal.places.place.Srisesadriresthouse" />
        <activity android:name=".telangana.nirmal.places.place.Ssgrandin" />
        <activity android:name=".telangana.nirmal.places.VenkatHotels" />
        <activity android:name=".telangana.nirmal.places.Kadamhotels" />
        <activity android:name=".telangana.nirmal.Kadamdam" />
        <activity android:name=".telangana.nirmal.Srivenkateswaraswamytemple" />
        <activity android:name=".telangana.nizamabad.places.place.Hotelcitypride" />
        <activity android:name=".telangana.nizamabad.places.place.Hotelmayur" />
        <activity android:name=".telangana.nizamabad.places.DichpallyHotels" />
        <activity android:name=".telangana.nizamabad.places.AshokHotels" />
        <activity android:name=".telangana.nizamabad.Ashoksagar" />
        <activity android:name=".telangana.nizamabad.Ramalayamdichpally" />
        <activity android:name=".telangana.medak.places.place.Hotelroyalsea" />
        <activity android:name=".telangana.medak.places.place.Harithaheritagehotel" />
        <activity android:name=".telangana.medak.places.place.Laxmileelalodge" />
        <activity android:name=".telangana.medak.places.ChamundeHotels" />
        <activity android:name=".telangana.medak.places.Forthotels" />
        <activity android:name=".telangana.medak.Medakfort" />
        <activity android:name=".telangana.medak.Srichamundeswartemple" />
        <activity android:name=".telangana.Bhadradri.places.place.HotelRoyalPalace" />
        <activity android:name=".telangana.Bhadradri.places.place.SriVenkateswaraHotel" />
        <activity android:name=".telangana.Bhadradri.places.place.SrinidhiResidency" />
        <activity android:name=".telangana.Bhadradri.places.Sriramahotels" />
        <activity android:name=".telangana.Bhadradri.places.Bogathahotels" />
        <activity android:name=".telangana.Bhadradri.BogathaWaterfall" />
        <activity android:name=".telangana.Bhadradri.SriRamachandra" />
        <activity android:name=".telangana.suryapet.RamalayamTemple" />
        <activity android:name=".telangana.suryapet.MattapalliYogaNarasimhaSwamyTemple" />
        <activity android:name=".telangana.vikarabad.VootyGolfCounty" />
        <activity android:name=".telangana.vikarabad.AnanthagiriHills" />
        <activity android:name=".telangana.wanaparthy.PangalFort" />
        <activity android:name=".telangana.wanaparthy.GhanpurFort" />
        <activity android:name=".telangana.warangal.places.place.VishnuResidency" />
        <activity android:name=".telangana.warangal.places.place.RadikaResidency" />
        <activity android:name=".telangana.warangal.places.place.VenkateshwaraMitrResidency" />
        <activity android:name=".telangana.warangal.places.place.HotelPrimeInn" />
        <activity android:name=".telangana.warangal.places.thousandhotels" />
        <activity android:name=".telangana.warangal.places.ramappahotels" />
        <activity android:name=".telangana.warangal.ThousandPillarTemple" />
        <activity android:name=".telangana.warangal.Ramappatemple" />
        <activity android:name=".telangana.siddipet.places.place.SwarnaHotel" />
        <activity android:name=".telangana.siddipet.places.place.HotelOne" />
        <activity android:name=".telangana.siddipet.places.sarawatiHotels" />
        <activity android:name=".telangana.siddipet.places.komatiHotels" />
        <activity android:name=".telangana.siddipet.Saraswathi" />
        <activity android:name=".telangana.siddipet.KomatiCheruvu" />
        <activity android:name=".telangana.sangareddy.places.place.KrishaHotel" />
        <activity android:name=".telangana.sangareddy.places.place.AbhayaHotel" />
        <activity android:name=".telangana.sangareddy.places.place.PankajHotel" />
        <activity android:name=".telangana.sangareddy.places.ManjeeraHotels" />
        <activity android:name=".telangana.sangareddy.places.SingapoorHotels" />
        <activity android:name=".telangana.sangareddy.SingoorProject" />
        <activity android:name=".telangana.sangareddy.ManjeeraWildlife" />
        <activity android:name=".telangana.rangareddy.places.place.AnanyaHotel" />
        <activity android:name=".telangana.rangareddy.places.place.TeeHotel" />
        <activity android:name=".telangana.rangareddy.places.place.SaharaHotel" />
        <activity android:name=".telangana.rangareddy.places.place.Treebotel" />
        <activity android:name=".telangana.rangareddy.places.mountHotels" />
        <activity android:name=".telangana.rangareddy.places.wonderHotels" />
        <activity android:name=".telangana.rangareddy.MountOpera" />
        <activity android:name=".telangana.rangareddy.Wonderla" />
        <activity android:name=".telangana.rajanna.places.place.plac1.SharavanaHotel" />
        <activity android:name=".telangana.rajanna.places.place.plac1.RajHotel" />
        <activity android:name=".telangana.rajanna.places.place.GuttaHotels" />
        <activity android:name=".telangana.rajanna.places.place.VemulaHotels" />
        <activity android:name=".telangana.mahabubabad.places.place.SrikariHotel" />
        <activity android:name=".telangana.mahabubabad.places.place.SriHotel" />
        <activity android:name=".telangana.mahabubabad.places.place.VeraHotel" />
        <activity android:name=".telangana.mahabubabad.places.place.FamilyHotel" />
        <activity android:name=".telangana.mahabubabad.places.KuraviHotels" />
        <activity android:name=".telangana.mahabubabad.places.BheemuniHotels" />
        <activity android:name=".telangana.mahabubabad.KuraviSwamy" />
        <activity android:name=".telangana.mahabubabad.BheemuniPadam" />
        <activity android:name=".telangana.mahabubnagar.places.place.SrisaiHotel" />
        <activity android:name=".telangana.mahabubnagar.places.place.AthidiHotel" />
        <activity android:name=".telangana.mahabubnagar.places.place.HarithaHotel" />
        <activity android:name=".telangana.mahabubnagar.places.smeshwaraHotels" />
        <activity android:name=".telangana.mahabubnagar.places.AlampurHotels" />
        <activity android:name=".telangana.mahabubnagar.Smeshwara" />
        <activity android:name=".telangana.mahabubnagar.Alampur" />
        <activity android:name=".telangana.mancherial.places.place.UdipiHotel" />
        <activity android:name=".telangana.mancherial.places.place.RaviHotel" />
        <activity android:name=".telangana.mancherial.places.place.VaibhavHotel" />
        <activity android:name=".telangana.mancherial.places.place.HariHotel" />
        <activity android:name=".telangana.mancherial.places.GudemHotels" />
        <activity android:name=".telangana.mancherial.places.GandharHotels" />
        <activity android:name=".telangana.mancherial.GudemGhats" />
        <activity android:name=".telangana.mancherial.GandhariKilla" />
        <activity android:name=".telangana.peddapalli.places.place.place1.VenkataHotel" />
        <activity android:name=".telangana.peddapalli.places.place.place1.SritaraHotel" />
        <activity android:name=".telangana.peddapalli.places.place.place1.OyoHotel" />
        <activity android:name=".telangana.peddapalli.places.place.place1.NawabHotel" />
        <activity android:name=".telangana.peddapalli.places.place.SabithamHotels" />
        <activity android:name=".telangana.peddapalli.places.place.BudistHotels" />
        <activity android:name=".telangana.peddapalli.places.SabithamActivity" />
        <activity android:name=".telangana.peddapalli.places.BuuddistActivity" />
        <activity android:name=".telangana.komaram.places.place.Varun" />
        <activity android:name=".telangana.komaram.places.place.Hkgn" />
        <activity android:name=".telangana.komaram.places.place.KerameriHotels" />
        <activity android:name=".telangana.komaram.places.place.GanagpurHotels" />
        <activity android:name=".telangana.komaram.places.place.Haaris" />
        <activity android:name=".telangana.komaram.places.place.Akshara" />
        <activity android:name=".telangana.komaram.places.Kerameri" />
        <activity android:name=".telangana.komaram.places.Ganagapur" />
        <activity android:name=".telangana.rajanna.places.NampallyGutta" />
        <activity android:name=".telangana.rajanna.places.Vemulawada" />
        <activity android:name=".telangana.yadadri.places.place.HotelSankalp" />
        <activity android:name=".telangana.yadadri.places.place.SurendraHotels" />
        <activity android:name=".telangana.Adilabad.places.place.BudgetHotel" />
        <activity android:name=".telangana.yadadri.places.place.YadadriHotels" />
        <activity android:name=".telangana.yadadri.places.Surendrapuri" />
        <activity android:name=".telangana.yadadri.places.Yadagirigutta" />
        <activity android:name=".telangana.Adilabad.places.place.HotelKrishna" />
        <activity android:name=".telangana.Adilabad.places.place.HotelRavi" />
        <activity android:name=".telangana.Adilabad.places.HotelKunthal" />
        <activity android:name=".telangana.Adilabad.places.KunthalaWaterfall" />
        <activity android:name=".telangana.Adilabad.Seemoreadilabad" />
        <activity android:name=".Seemoremain" />
        <activity android:name=".Telangana" />
        <activity android:name=".telangana.Adilabad.places.place.Hotelsitara" />
        <activity android:name=".telangana.Adilabad.places.Hotelskawal" />
        <activity android:name=".telangana.Adilabad.places.Kawaliwildlife" />
        <activity android:name=".telangana.medchal.Medchal" />
        <activity android:name=".telangana.yadadri.Yadadri" />
        <activity android:name=".telangana.warangal.Warangal" />
        <activity android:name=".telangana.wanaparthy.Wanaparthy" />
        <activity android:name=".telangana.vikarabad.Vikarabad" />
        <activity android:name=".telangana.suryapet.Suryapet" />
        <activity android:name=".telangana.siddipet.Siddipet" />
        <activity android:name=".telangana.sangareddy.Sangareddy" />
        <activity android:name=".telangana.rangareddy.Rangareddy" />
        <activity android:name=".telangana.rajanna.Rajanna" />
        <activity android:name=".telangana.peddapalli.Peddapalli" />
        <activity android:name=".telangana.nizamabad.Nizambad" />
        <activity android:name=".telangana.nirmal.Nirmal" />
        <activity android:name=".telangana.nalgonda.Nalgonda" />
        <activity android:name=".telangana.nagarkurnool.Nagarkurnool" />
        <activity android:name=".telangana.medak.Medak" />
        <activity android:name=".telangana.mancherial.Mancherial" />
        <activity android:name=".telangana.mahabubnagar.Mahabubnagar" />
        <activity android:name=".telangana.mahabubabad.Mahabubabad" />
        <activity android:name=".telangana.komaram.Komaram" />
        <activity android:name=".telangana.khammam.Khammam" />
        <activity android:name=".telangana.karimnagar.Karimnagar" />
        <activity android:name=".telangana.kamareddy.Kamareddy" />
        <activity android:name=".telangana.jogulamba.Jogulamba" />
        <activity android:name=".telangana.jayashankar.Jayashankar" />
        <activity android:name=".telangana.Jangaon.Jangaon" />
        <activity android:name=".telangana.Jagtial.Jagtial" />
        <activity android:name=".telangana.Hyderabad.Hyderabad" />
        <activity android:name=".telangana.Bhadradri.Bhadradri" />
        <activity android:name=".telangana.Adilabad.AdilabadActivity" />
        <activity android:name=".telangana.SeemoreActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Switcher" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>